.search {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  border-radius: 50px;
  background: #fdfdfd;
  flex: 1;
  cursor: text;
  svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
  input {
    background: none;
    border: none;
    font-size: 14px;
    font-weight: 500;
    color: #99a2a5;
    flex: 1;
    outline: none;
  }
}
