@import './fonts';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
}

body {
  font-size: 16px;
  background: #fdfdfd;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.text-white {
  color: #fdfdfd !important;
}
